<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="First" verbose="2">
    <test name="AuthTest">
        <classes>
            <class name="com.epam.uitest.LoginTest"></class>
        </classes>
    </test>
    <!--<test name="Cucumber">-->
    <!--<classes>-->
    <!--<class name="com.epam.uiatest.home_page.CucumberAuthorizationTest"></class>-->
    <!--</classes>-->
    <!--</test>-->
    <!--<test name="CheckboxCheckTest,CheckboxSelectedTest,RadioButtonTest,LogTest,CheckboxCheckEnabledTest">-->
    <!--<classes>-->
    <!--&lt;!&ndash;<class name="com.epam.uiatest.support.DifferentElementsCheckbox"></class>&ndash;&gt;-->
    <!--&lt;!&ndash;<class name="com.epam.uiatest.support.DifferentElementsRadio"></class>&ndash;&gt;-->
    <!--&lt;!&ndash;<class name="com.epam.uiatest.support.DifferentElementsLog"></class>&ndash;&gt;-->
    <!--</classes>-->
    <!--</test>-->
</suite>